@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 500px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #e6e6e6;
  border-radius: 5px;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.text {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: white;
  width: 100%;
  border-radius: 5px;
  border: solid 1px silver;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  transition: all 0.3s ease;
}
.text:hover{
  opacity:0.8;
}
.text:focus {
    outline: solid 2px steelblue;
}

.button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: steelblue;
  border-radius: 5px;
  border: solid 2px steelblue;
  color: #FFFFFF;
  width: 50%;
  margin: 0 0 15px;
  padding: 15px;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.button:hover {
  background: #FFFFFF;
  border: 2px solid steelblue;
  color: steelblue;
}
.form a {
  color: steelblue;
  font-size: 12px;
  text-decoration: none;
}
#error{
    color: red;
    font-size: 12px;
}
.form h1{
  font-family: "Righteous", sans-serif;
  font-size: 60px;
  color: steelblue;
}
.form h2{
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: steelblue;
}
body {
  background: steelblue; /* fallback for old browsers */
  background: steelblue;
  background: linear-gradient(90deg, rgb(70,130,180,1) 0%, rgba(88,123,165,1) 50%);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
.title {
  font-size: 60px; 
}
/*111,133,194,1*/