.menu-page {
    width: 1000px;
    padding: 150px 0 0;
    margin: auto;
    position: relative;
    justify-content: center;
}

.menu-page h1 {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    color: steelblue;
}

.menubutton {
    margin: auto;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: steelblue;
    border-radius: 5px;
    border: solid 2px steelblue;
    width: 100px;
    color: #FFFFFF;
    margin: 0 0 15px;
    padding: 15px;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.5s ease;
    cursor: pointer;
}

.menubutton:hover {
    background: #FFFFFF;
    border: 2px solid steelblue;
    color: steelblue;
}
.searchbutton {
    margin: auto;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: slategray;
    border-radius: 5px;
    border: solid 2px slategray;
    width: 50px;
    color: #FFFFFF;
    margin: 0 0 15px;
    padding: 5px;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.5s ease;
    cursor: pointer;
}

.searchbutton:hover {
    opacity: 0.8;
}

.button-area {
    padding-top: 100px;
    text-align: center;
}

.menubutton:not(:last-child) {
    margin-right: 100px;
}
.paper {
    text-align: center;
    background-color: #e6e6e6;
    border-radius: 5px;
    width: 1000px;
    height: 500px;
}
.paperpad{
    padding-top: 80px;
}

.text {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: white;
    width: 350px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px silver;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    transition: all 0.3s ease;
}

.text:hover {
    opacity: 0.8;
}

.text:focus {
    outline: solid 2px steelblue;
}
table {
    text-align: center;
    background-color: #e6e6e6;
    border-radius: 5px;
    margin-top: 10px;
    width: 1000px;
    height: 500px;
    table-layout: fixed;
}

th,
td {
    /* border: solid 1px; */
}

th {
    color: steelblue;
    font-size: larger;
}
.button-area {
    padding-top: 100px;
    text-align: center;
}
ul{
    list-style-type: none;
}