  .menu-page {
    width: 1000px;
    padding: 8% 0 0;
    margin: auto;
    position: relative;
    justify-content: center;
  }
  .logo{
    margin: auto;
    text-align: center;
    background: #FFFFFF;
  }

/* グローバルナビゲーション */
  nav {
    margin: 27px auto 0;
    position: relative;
    width: 1000px;
    height: 80px;
    background-color: slategray;
    font-size: 0;
  }
  nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
  }
  nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
  }
  a:nth-child(1) {
    width: 200px;
  }
  a:nth-child(2) {
    width: 200px;
  }
  a:nth-child(3) {
    width: 200px;
  }
  a:nth-child(4) {
    width: 200px;
  }
  a:nth-child(5) {
    width: 200px;
  }
  nav .start-home, a:nth-child(1):hover~.animation {
    width: 200px;
    left: 0;
    background-color: steelblue;
  }
  nav .start-about, a:nth-child(2):hover~.animation {
    width: 200px;
    left: 200px;
    background-color: steelblue;
  }
  nav .start-blog, a:nth-child(3):hover~.animation {
    width: 200px;
    left: 400px;
    background-color: steelblue;
  }
  nav .start-portefolio, a:nth-child(4):hover~.animation {
    width: 200px;
    left: 600px;
    background-color: steelblue;
  }
  nav .start-contact, a:nth-child(5):hover~.animation {
    width: 200px;
    left: 800px;
    background-color: steelblue;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
  }
  .item{
    width:50%;
    height:200px;
  }
  .fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  #container {
    padding-top: 150px;
  }
  .menubutton {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: slategray;
    border: 0.2em solid steelblue;
    color: #FFFFFF;
    width: 50%;
    margin: 0 0 15px;
    padding: 15px;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.5s ease;
    cursor: pointer;
  }
  .menubutton:hover {
    background: #FFFFFF;
    border: 0.2em solid steelblue;
    color: steelblue;
  }

  /* body */
  h1{
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    color: steelblue;
  }
  h2{
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    color: slategray;
  }
  body {
    background: aliceblue;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
  }

  /* color 
  aliceblue
  steelblue
  slategray
  
  */
